$react-ant-geo-input-options: () !default;

.react-ant-geo-input {
  // your styles

  .is-lnglat {
    margin-top: 10px;
    display: flex;
    margin-left: 2px;
    > * {
      margin-left: -2px;
    }
  }
}
